@font-face {
  font-family: "NotoSans-Regular";
  src: url('../fonts/NotoSans-Regular/NotoSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NotoSans-Bold";
  src: url('../fonts/NotoSans-Bold/NotoSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Exo2-Medium";
  src: url('../fonts/Exo2-Medium/Exo2-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Exo2-Bold";
  src: url('../fonts/Exo2-Bold/Exo2-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  outline: none;
}
body {
  width: 100%;
  min-width: 960px;
  height: 100%;
  font-size: 14px;
  font-family: "NotoSans-Regular", sans-serif;
  color: #1c1d1d;
}
p {
  margin-bottom: 36px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  vertical-align: middle;
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
.cf {
  zoom: 1;
}
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.hidden,
[hidden] {
  display: none !important;
}
.img-adp,
.iframe-adp {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
#wrapper {
  min-height: calc(100vh - 260px);
}
#footer {
  height: 260px;
}
.container {
  width: 960px !important;
}
.offset {
  padding-top: 62px;
}
.offset_min {
  padding-top: 25px;
}
/*--head-text--*/
h1 {
  margin: 0;
}
h2 {
  margin: 0;
}
.head-h2 {
  position: relative;
  color: #1c1d1d;
}
.head-h2 span {
  font-family: "Exo2-Bold", sans-serif;
  font-size: 30px;
  display: inline-block;
  background-color: #fff;
  position: relative;
  z-index: 2;
  padding-right: 30px;
  padding-bottom: 16px;
}
.head-h2:before {
  content: "";
  width: 100%;
  position: absolute;
  border-bottom: 1px solid #bfbfbf;
  left: 0;
  top: 38%;
  z-index: 0;
}
.head-h2_red {
  color: #d81218;
}
/*--HEADER--*/
.header-wrap {
  width: 100%;
  background: #1c1d1d;
}
.header {
  padding: 20px 0 20px;
  zoom: 1;
}
.header:before,
.header:after {
  content: "";
  display: table;
}
.header:after {
  clear: both;
}
.header__inner {
  float: left;
  margin-left: 30px;
}
.header__inner__top {
  margin-bottom: 6px;
}
.header__inner_right {
  float: right;
  margin-right: 0;
  margin-left: 0;
}
.logo {
  float: left;
}
/*--- Выбор---*/
.drop {
  cursor: pointer;
  display: inline-block;
  position: relative;
  /*hidden*/
}
.drop__name {
  font-family: "Exo2-Medium", sans-serif;
  font-size: 14px;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
}
.drop__arrow {
  display: inline-block;
  vertical-align: middle;
  height: 8px;
  width: 12px;
  margin-left: 10px;
  position: relative;
  top: -1px;
  z-index: 6;
}
.drop-hidden {
  position: absolute;
  z-index: 5;
  top: 0;
  background: #d81218;
  padding-left: 20px;
  padding-right: 30px;
  margin-left: -20px;
  margin-top: -7px;
  display: none;
  padding-top: 1px;
  cursor: auto;
}
.drop-hidden__item {
  padding-top: 7px;
  color: #fff;
  font-size: 14px;
  font-family: "Exo2-Medium", sans-serif;
  cursor: pointer;
  white-space: nowrap;
}
.drop-hidden__item:last-child {
  padding-bottom: 10px;
}
.drop-hidden__item:hover {
  text-decoration: underline;
}
/*--- Телефон - шапка ---*/
.tel {
  display: inline-block;
  margin-left: 110px;
}
.tel__img {
  width: 11px;
  height: 16px;
  vertical-align: top;
  margin-right: 5px;
}
.tel__img_size {
  width: 16px;
  margin-left: 40px;
}
.tel__number {
  font-family: "NotoSans-Regular", sans-serif;
  font-size: 14px;
  color: #fff;
  vertical-align: top;
}
/*--- Поиск ---*/
.search-line {
  display: inline-block;
  margin-left: 28px;
  position: relative;
}
.search-line__img {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 5px;
  left: 10px;
}
.search-line__input {
  width: 378px;
  height: 30px;
  background: #1c1d1d;
  border: 1px solid #fff;
  color: #fff;
  padding-left: 40px;
}
.search-line__input::-webkit-input-placeholder {
  opacity: .5;
  transition: opacity 0.3s ease;
}
.search-line__input::-moz-placeholder {
  opacity: .5;
  transition: opacity 0.3s ease;
}
.search-line__input:-moz-placeholder {
  opacity: .5;
  transition: opacity 0.3s ease;
}
.search-line__input:-ms-input-placeholder {
  opacity: .5;
  transition: opacity 0.3s ease;
}
.search-line__input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.search-line__input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.search-line__input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.search-line__input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
/*--- Логин ---*/
.login {
  width: 60px;
  height: 57px;
  background: #d81218;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 16px;
  position: relative;
  /*скрытый логин*/
}
.login__icon {
  width: 30px;
  height: 30px;
  display: block;
  margin: 12px auto 0;
}
.login-hiddin {
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
  height: 114px;
  background: #d81218;
  z-index: 1;
  padding: 10px;
  text-align: center;
  cursor: auto;
  display: none;
}
.login-hiddin__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  background: #1c1d1d;
  margin-left: 10px;
  margin-right: 10px;
}
.login-hiddin__icon {
  width: 100%;
  height: auto;
}
.login-hiddin__inner {
  border-bottom: 1px solid #fff;
  text-align: left;
  margin-bottom: 5px;
  padding-bottom: 10px;
}
.login-hiddin__text {
  font-family: "NotoSans-Regular", sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
}
.login-hiddin__link {
  font-family: "NotoSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}
.login-hiddin__link:hover {
  text-decoration: underline;
}
/*--- корзина ---*/
.cart {
  width: 140px;
  height: 57px;
  background: #d81218;
  overflow: hidden;
  padding-top: 8px;
  padding-left: 12px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.cart:hover .cart__text {
  text-decoration: underline;
}
.cart:hover .cart__num {
  text-decoration: underline;
}
.cart__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cart__icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
}
.cart__inner {
  display: inline-block;
  vertical-align: middle;
  font-family: "NotoSans-Regular", sans-serif;
  color: #fff;
  font-size: 14px;
}
.cart__num {
  display: block;
}
/*--MENU--*/
.nav {
  border-top: 1px solid #fff;
}
.menu {
  text-align: justify;
  height: 56px;
}
.menu:after {
  content: " ";
  display: inline-block;
  width: 100%;
  height: 0;
}
.menu__item {
  display: inline-block;
}
.menu__link {
  font-family: "Exo2-Medium", sans-serif;
  color: #fff;
  font-size: 18px;
  display: block;
  height: 56px;
}
.menu__link:hover {
  background: #d81218;
  position: relative;
  margin: 0 -30px;
  padding: 0 30px;
  white-space: nowrap;
  color: #fff;
  text-decoration: none;
  transition: background 0.3s;
}
.menu__text {
  position: relative;
  top: 14px;
}
/*--- Поиск запчастей---*/
.search-parts-box {
  zoom: 1;
}
.search-parts-box:before,
.search-parts-box:after {
  content: "";
  display: table;
}
.search-parts-box:after {
  clear: both;
}
.search-parts-box__left {
  float: left;
  width: 720px;
}
.search-parts-box__right {
  float: right;
  width: 230px;
  position: relative;
}
.search-parts-links {
  zoom: 1;
}
.search-parts-links:before,
.search-parts-links:after {
  content: "";
  display: table;
}
.search-parts-links:after {
  clear: both;
}
.search-parts-links__item {
  float: left;
  height: 58px;
  text-align: center;
}
.search-parts-links__link {
  width: 240px;
  display: block;
  height: 58px;
  padding-top: 17px;
  background-color: #1c1d1d;
  font-family: "Exo2-Medium", sans-serif;
  color: #fff;
  font-size: 16px;
}
.search-parts-links__link:hover {
  background-color: #d81218;
  transition: all .3s;
}
.search-parts-links__link.active {
  background-color: #d81218;
}
.search-parts-links__link_min {
  width: 235px;
  height: 48px;
  padding-top: 13px;
  margin-left: 5px;
  margin-top: 5px;
  background-color: #d81218;
}
.search-parts-links__link_min:hover {
  text-decoration: underline;
}
.search-parts-links__icon {
  vertical-align: text-top;
  margin-right: 10px;
  margin-top: 4px;
  width: 17px;
  height: 13px;
}
/*--- Баннер, статистика ---*/
.banner {
  height: 439px;
  overflow: hidden;
}
.statistics {
  height: 210px;
  background: url(/images/statistics-img.png) no-repeat;
  margin-bottom: 10px;
  text-align: center;
  color: #fff;
  padding-top: 30px;
}
.statistics__num {
  display: block;
  font-family: "Exo2-Bold", sans-serif;
  font-size: 30px;
}
.statistics__text {
  display: block;
  font-family: "NotoSans-Regular", sans-serif;
  font-size: 14px;
  margin-bottom: 20px;
}
/*--- Быстрая заявка ---*/
.zajavka {
  text-align: center;
  background: #fff;
  margin-bottom: 10px;
}
.zajavka__text {
  font-family: "Exo2-Medium", sans-serif;
  font-size: 16px;
  color: #1c1d1d;
  display: block;
  margin-bottom: 5px;
}
.zajavka-btn {
  display: block;
  background: #d81218;
  width: 230px;
  height: 58px;
  padding-top: 21px;
  color: #fff;
}
.zajavka-btn:hover {
  text-decoration: underline;
}
.zajavka-btn__name {
  color: #fff;
}
.zajavka-btn__icon {
  width: 11px;
  height: 16px;
  margin-right: 10px;
  vertical-align: text-top;
  margin-top: 2px;
}
.car-brand {
  zoom: 1;
}
.car-brand:before,
.car-brand:after {
  content: "";
  display: table;
}
.car-brand:after {
  clear: both;
}
.car-brand_bmw {
  background: #2f1c1c url('/images/brand/bmw-logo.png') no-repeat 50% 50%;
}
.car-brand_toyota {
  background: #2a1c1d url('/images/brand/toyota-logo.png') no-repeat 50% 50%;
}
.car-brand_audi {
  background: #2f1c1c url('/images/brand/audi-logo.png') no-repeat 50% 50%;
}
.car-brand_ford {
  background: #2a1c1d url('/images/brand/ford-logo.png') no-repeat 50% 50%;
}
.car-brand_subaru {
  background: #2f1c1c url('/images/brand/subaru-logo.png') no-repeat 50% 50%;
}
.car-brand_mitsubishi {
  background: #2a1c1d url('/images/brand/mitsubishi-logo.png') no-repeat 50% 50%;
}
.car-brand_honda {
  background: #2f1c1c url('/images/brand/honda-logo.png') no-repeat 50% 50%;
}
.car-brand_cadillac {
  background: #2a1c1d url('/images/brand/cadillac-logo.png') no-repeat 50% 50%;
}
.car-brand_nissan {
  background: #2f1c1c url('/images/brand/nissan-logo.png') no-repeat 50% 50%;
}
.car-brand__item {
  width: 240px;
  height: 220px;
  float: left;
  position: relative;
}
.car-brand__link {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}
.car-brand__link:hover {
  background: #d81218;
  transition: background .3s;
}
.car-brand__name {
  font-family: "Exo2-Medium", sans-serif;
  font-size: 18px;
  color: #fff;
  position: relative;
  top: 95px;
}
/*--- Сервисные услуги ---*/
.services__item {
  width: 220px;
  height: 220px;
  background-color: #1c1d1d;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin-right: 16px;
}
.services__item:last-child {
  margin-right: 0;
}
.services__item:hover .services__img {
  width: 250px;
  transition: all 0.3s;
}
.services__link {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}
.services__img {
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: all 0.3s;
}
.services__img_car {
  width: 180px;
}
.services__img_wheel {
  width: 119px;
}
.services__img_diagn {
  width: 89px;
}
.services__img_wash {
  width: 80px;
}
.services__name {
  font-family: "Exo2-Medium", sans-serif;
  color: #fff;
  font-size: 18px;
  top: 98px;
  position: relative;
}
/*--- Новости на главной ---*/
.news-line__item {
  width: 220px;
  position: relative;
  overflow: hidden;
  vertical-align: top;
  display: inline-block;
  text-align: center;
  margin-right: 16px;
  cursor: pointer;
}
.news-line__item:last-child {
  margin-right: 0;
}
.news-line__item:hover .news-line__name {
  text-decoration: underline;
}
.news-line__img {
  margin-bottom: 15px;
}
.news-line__name {
  font-family: "NotoSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #1c1d1d;
  padding: 0 20px;
  display: inline-block;
}
/*--- Популярные запчасти табы ---*/
.popular-parts-tabs__content {
  display: none;
}
.popular-parts-tabs__content.active {
  display: block;
}
.popular-parts-tabs__caption {
  zoom: 1;
  height: 58px;
  background-color: #1c1d1d;
}
.popular-parts-tabs__caption:before,
.popular-parts-tabs__caption:after {
  content: "";
  display: table;
}
.popular-parts-tabs__caption:after {
  clear: both;
}
.popular-parts-tabs__item {
  display: block;
  color: #fff;
  height: 58px;
  padding-top: 18px;
  font-family: "Exo2-Medium", sans-serif;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  width: 25%;
  float: left;
}
.popular-parts-tabs__item:hover {
  background-color: #d81218;
  transition: background .3s;
}
.popular-parts-tabs__item.active {
  background-color: #d81218;
}
/*--- Популярные запчасти ---*/
.popular-parts {
  zoom: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.popular-parts:before,
.popular-parts:after {
  content: "";
  display: table;
}
.popular-parts:after {
  clear: both;
}
.popular-parts__item {
  width: 188px;
  min-height: 188px;
  position: relative;
  margin-bottom: 80px;
}
.popular-parts__item:hover .popular-parts__price {
  text-decoration: underline;
}
.popular-parts__item:hover .popular-parts__name {
  text-decoration: underline;
}
.popular-parts__link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.popular-parts__box-img {
  overflow: hidden;
  width: 188px;
  height: 190px;
}
.popular-parts__img {
  width: 100%;
  height: 100%;
}
.popular-parts__name {
  display: block;
  text-align: center;
  font-family: "NotoSans-Regular", sans-serif;
  color: #1c1d1d;
  font-size: 14px;
  line-height: 24px;
  padding: 10px 10px 0;
}
.popular-parts__price {
  display: block;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Exo2-Bold", sans-serif;
  color: #1c1d1d;
  font-size: 18px;
}
.popular-parts__add-cart {
  width: 168px;
  height: 35px;
  background: #d81218;
  display: block;
  position: absolute;
  bottom: -35px;
  margin-left: 10px;
  z-index: 2;
  text-align: center;
  font-family: "NotoSans-Regular", sans-serif;
  color: #fff;
  font-size: 14px;
  padding-top: 7px;
}
.popular-parts__add-cart:hover {
  text-decoration: underline;
}
/*--- Форма index ---*/
.form-call {
  zoom: 1;
  padding-bottom: 83px;
  /* части формы */
}
.form-call:before,
.form-call:after {
  content: "";
  display: table;
}
.form-call:after {
  clear: both;
}
.form-call__left {
  float: left;
  width: 460px;
}
.form-call__right {
  float: left;
  width: 480px;
}
.form-call__name {
  font-family: "NotoSans-Regular", sans-serif;
  font-size: 14px;
  color: #1c1d1d;
  margin-bottom: 15px;
}
.form-call__inner {
  float: left;
  margin-left: 20px;
}
.form-call__text {
  width: 100%;
  height: 205px;
  border: 2px solid #1c1d1d;
  padding: 10px;
  resize: none;
  margin-bottom: 35px;
}
.form-call__text::-webkit-input-placeholder {
  opacity: .5;
  transition: opacity 0.3s ease;
}
.form-call__text::-moz-placeholder {
  opacity: .5;
  transition: opacity 0.3s ease;
}
.form-call__text:-moz-placeholder {
  opacity: .5;
  transition: opacity 0.3s ease;
}
.form-call__text:-ms-input-placeholder {
  opacity: .5;
  transition: opacity 0.3s ease;
}
.form-call__text:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.form-call__text:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.form-call__text:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.form-call__text:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.form-call__text.error {
  border-color: #d81218;
}
.form-call__btn-submit {
  display: block;
  float: right;
  width: 220px;
  height: 58px;
  border: none;
  background-color: #1c1d1d;
  color: #fff;
  font-family: "Exo2-Medium", sans-serif;
  font-size: 18px;
}
.form-call__btn-submit:hover {
  background-color: #d81218;
  text-decoration: underline;
  transition: all 0.3s;
}
.form-call__input {
  border: 2px solid #1c1d1d;
  padding: 10px;
  width: 220px;
  height: 35px;
  margin-bottom: 28px;
}
.form-call__input::-webkit-input-placeholder {
  opacity: .5;
  transition: opacity 0.3s ease;
}
.form-call__input::-moz-placeholder {
  opacity: .5;
  transition: opacity 0.3s ease;
}
.form-call__input:-moz-placeholder {
  opacity: .5;
  transition: opacity 0.3s ease;
}
.form-call__input:-ms-input-placeholder {
  opacity: .5;
  transition: opacity 0.3s ease;
}
.form-call__input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.form-call__input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.form-call__input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.form-call__input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.form-call__input.error {
  border-color: #d81218;
}
/*--- FOOTER ---*/
.footer-wrap {
  background: #1c1d1d;
  height: 260px;
}
.footer {
  padding-top: 26px;
  zoom: 1;
}
.footer:before,
.footer:after {
  content: "";
  display: table;
}
.footer:after {
  clear: both;
}
.footer__left {
  float: left;
  width: 162px;
}
.footer__right {
  zoom: 1;
  float: left;
  border-left: 2px solid #d81218;
}
.footer__right:before,
.footer__right:after {
  content: "";
  display: table;
}
.footer__right:after {
  clear: both;
}
.footer-link {
  float: left;
  margin-left: 75px;
}
.footer-link_margin {
  margin-left: 106px;
}
.footer-link__link {
  font-family: "NotoSans-Regular", sans-serif;
  font-size: 14px;
  color: #fff;
  margin-bottom: 18px;
  display: inline-block;
}
.footer-link__link:hover {
  text-decoration: underline;
}
.copyright {
  font-family: "NotoSans-Regular", sans-serif;
  font-size: 14px;
  color: #fff;
}
.footer-logo-link {
  float: right;
  margin-right: 67px;
}
/*--- Хлебные крошки ---*/
.bread-crumbs {
  padding-top: 35px;
}
.bread-crumbs__item {
  display: inline-block;
  font-family: "NotoSans-Regular", sans-serif;
  font-size: 14px;
  color: #1c1d1d;
  vertical-align: middle;
}
.bread-crumbs__link {
  font-family: "NotoSans-Bold", sans-serif;
  font-size: 14px;
  color: #1c1d1d;
}
.bread-crumbs__link:hover {
  text-decoration: underline;
}
.bread-crumbs__link:after {
  content: ">";
  display: inline-block;
  vertical-align: top;
  color: #d81218;
  padding-left: 5px;
  padding-right: 2px;
}
/*--- Box-Link ---*/
.box-link {
  zoom: 1;
  padding-top: 50px;
  padding-bottom: 70px;
}
.box-link:before,
.box-link:after {
  content: "";
  display: table;
}
.box-link:after {
  clear: both;
}
.box-link__item {
  display: block;
  float: left;
  width: 300px;
  height: 58px;
  background: #1c1d1d;
  text-align: center;
  line-height: 58px;
  font-family: "Exo2-Medium", sans-serif;
  color: #fff;
  font-size: 16px;
}
.box-link__item:hover {
  background: #d81218;
  transition: all .3s;
}
.box-link__item.active {
  background: #d81218;
}
/*--- Text search results ---*/
.search-results {
  font-family: "NotoSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #1c1d1d;
  padding-bottom: 40px;
}
/*---------------------------------------------- END_INDEX--------------------------------------------------*/
/*--- Выбор производителя ---*/
.brand {
  zoom: 1;
}
.brand:before,
.brand:after {
  content: "";
  display: table;
}
.brand:after {
  clear: both;
}
.brand__item {
  display: block;
  float: left;
  width: 105px;
  height: 130px;
  position: relative;
  text-align: center;
  margin: 25px 40px 60px 0;
}
.brand__item:hover {
  text-decoration: underline;
}
.brand__inner {
  width: 105px;
  height: 70px;
  position: relative;
}
.brand__link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.brand__img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.brand__name {
  font-family: "NotoSans-Regular", sans-serif;
  font-size: 14px;
  color: #1c1d1d;
  display: block;
  padding-top: 20px;
}
/*--- Выбор модели ---*/
.model {
  zoom: 1;
  padding-top: 90px;
}
.model:before,
.model:after {
  content: "";
  display: table;
}
.model:after {
  clear: both;
}
.model__item {
  display: block;
  float: left;
  width: 188px;
  height: 210px;
  position: relative;
  text-align: center;
  margin: 0 0 65px 0;
}
.model__item:hover {
  text-decoration: underline;
}
.model__inner {
  width: 188px;
  height: 95px;
  position: relative;
}
.model__link {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.model__img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.model__name {
  font-family: "NotoSans-Regular", sans-serif;
  font-size: 14px;
  color: #1c1d1d;
  display: block;
  padding-top: 60px;
}
/*--- Картачка продукта ---*/
.product {
  zoom: 1;
  /*правая часть*/
}
.product:before,
.product:after {
  content: "";
  display: table;
}
.product:after {
  clear: both;
}
.product__left {
  width: 381px;
  float: left;
  overflow: hidden;
  position: relative;
}
.product__right {
  width: 460px;
  float: right;
  overflow: hidden;
  position: relative;
}
.product__name {
  font-family: "Exo2-Bold", sans-serif;
  font-size: 30px;
  line-height: 48px;
  color: #1c1d1d;
  padding-bottom: 10px;
}
.product__model {
  font-family: "NotoSans-Regular", sans-serif;
  font-size: 14px;
  color: #1c1d1d;
}
.product__price {
  font-family: "Exo2-Bold", sans-serif;
  font-size: 36px;
  line-height: 48px;
  color: #d81218;
  padding: 55px 0 90px;
}
.product__info {
  font-family: "NotoSans-Regular", sans-serif;
  font-size: 14px;
  color: rgba(46, 46, 46, 0.5);
  padding-top: 25px;
}
/*Кнопки*/
.product-btns {
  zoom: 1;
}
.product-btns:before,
.product-btns:after {
  content: "";
  display: table;
}
.product-btns:after {
  clear: both;
}
.product-btn {
  width: 220px;
  height: 57px;
  background: #1c1d1d;
  display: block;
  float: left;
  text-align: center;
  font-family: "Exo2-Medium", sans-serif;
  font-size: 18px;
  color: #fff;
  padding-top: 15px;
}
.product-btn:hover {
  text-decoration: underline;
}
.product-btn_add-cart {
  margin-right: 10px;
}
/*галерея*/
.product-foto-list {
  zoom: 1;
}
.product-foto-list:before,
.product-foto-list:after {
  content: "";
  display: table;
}
.product-foto-list:after {
  clear: both;
}
.product-foto-list__item {
  float: left;
  display: block;
  overflow: hidden;
  position: relative;
  width: 127px;
  height: 127px;
}
.product-foto-list__item:hover:after {
  content: '';
  width: 100%;
  height: 3px;
  background: #d81218;
  display: block;
  position: absolute;
  z-index: 1;
  bottom: 0;
}
.product-foto-list__item_big {
  width: 380px;
  height: 280px;
  float: none;
  margin-bottom: 10px;
}
.product-foto-list__item_big:hover:after {
  content: '';
  width: 0;
  height: 0;
}
.product-foto__img {
  width: 100%;
  height: 100%;
}
/*--- Информация о продукте ---*/
.info-product {
  zoom: 1;
  padding-top: 40px;
}
.info-product:before,
.info-product:after {
  content: "";
  display: table;
}
.info-product:after {
  clear: both;
}
.info-product__left {
  width: 380px;
  float: left;
  overflow: hidden;
  position: relative;
}
.info-product__right {
  width: 460px;
  float: right;
  overflow: hidden;
  position: relative;
}
.info-product__head {
  font-family: "NotoSans-Bold", sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 25px;
}
.info-product-list__item {
  font-family: "NotoSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 24px;
}
.info-product-list__item_icon {
  padding-left: 20px;
  position: relative;
}
.info-product-list__item_icon:before {
  content: '\2014';
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  left: 0;
}
.product-info {
  display: inline-block;
  vertical-align: top;
  width: 237px;
}
.product-delivery {
  display: inline-block;
  vertical-align: top;
  width: 137px;
}
/*--- Контакты ---*/
.contacts__item {
  display: inline-block;
  margin-right: 54px;
}
.contacts__icon {
  display: inline-block;
  vertical-align: text-top;
  margin-right: 7px;
}
.contacts__icon_loc {
  width: 11px;
  height: 16px;
}
.contacts__icon_tel {
  width: 11px;
  height: 16px;
}
.contacts__icon_eml {
  width: 16px;
  height: 13px;
  margin-top: 3px;
}
.contacts__text {
  font-family: "NotoSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #1c1d1d;
}
.contacts__link {
  text-decoration: underline;
  color: #1c1d1d;
}
.contacts-more {
  padding-top: 45px;
}
.manager {
  display: inline-block;
  vertical-align: top;
  margin-right: 90px;
}
.manager__head {
  font-family: "NotoSans-Bold", sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 15px;
}
.manager-list__item {
  display: inline-block;
}
.manager-list__item_email {
  margin-right: 44px;
  position: relative;
  padding-left: 26px;
}
.manager-list__item_email:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 13px;
  background: url(/images/icons/contacts/mail.svg) no-repeat;
  position: absolute;
  left: 0;
  top: 4px;
}
.manager-list__item_skype {
  position: relative;
  padding-left: 26px;
}
.manager-list__item_skype:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(/images/icons/contacts/skype.svg) no-repeat;
  position: absolute;
  left: 0;
  top: 4px;
}
.manager-list__link {
  display: block;
  font-family: "NotoSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #1c1d1d;
}
.manager-list__link_email {
  text-decoration: underline;
}
.manager-list__link_skype {
  font-family: "NotoSans-Bold", sans-serif;
}
.manager-list__link_skype:hover {
  text-decoration: underline;
}
.rezhim {
  display: inline-block;
  vertical-align: top;
}
.rezhim__head {
  font-family: "NotoSans-Bold", sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 15px;
}
.rezhim-list__item {
  font-family: "NotoSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #1c1d1d;
}
