.history-search {
	.cf;
	padding-top: 25px;
	
	&__inner {
		float: left;
		margin-right: 20px;
		&_right {
			float: right;
		}
	}
	
	&__box {
		margin-bottom: 20px;
	}
	
	&__text {
		font-family: @font-notosans-bold;
	}
	
	&__inp {
		margin: 0 10px;
		width: 140px;
		height: 35px;
		border: 2px solid @color-gray;
		padding-left: 10px;
		padding-right: 30px;
	}
	
	&-inp-wrap {
		position: relative;
		width: 160px;
		display: inline-block;
	}
	
	&__icon {
		width: 18px;
		height: 20px;
		position: absolute;
		right: 20px;
		top: 7px;
		cursor: pointer;
	}
	
	&__filter {
		width: 140px;
		height: 35px;
		background: @color-gray;
		border: none;
		color: #fff;
		font-family: @font-exo-medium;
		font-size: 18px;
		&_del {
			margin-left: 20px;
		}

		&:hover {
			text-decoration: underline;
			background: @color-red;
			transition: all 0.3s;
		}
	}
}

/* select */

.history-search {
	.jq-selectbox__select {
		margin-left: 10px;
		width: 235px;
		height: 35px;
		border: 2px solid @color-gray;
	}
	.jq-selectbox__select-text {
		height: 31px;
		line-height: 31px;
		padding-left: 10px;
	}
	.jq-selectbox__trigger-arrow {
		top: 12px;
		right: 10px;
	}
	.jq-selectbox__dropdown {
		width: 235px;
		margin-left: 10px;
	
		.history-search__option {
			background: @color-red;
			color: #fff;
			
			padding: 5px 10px 5px;
			cursor: pointer;
			
			&:hover {
				text-decoration: underline;
			}
		}
	}
}



.history-search__option {
	&.opened {
		.jq-selectbox__trigger-arrow {
			background-position: 0 -10px;
		}
	}
}