.news {
	.cf;
	
	&__date {
		font-family: @font-notosans-bold;
		font-size: 14px;
		line-height: 24px;
		color: #2e2e2e;
		margin-bottom: 5px;
	}
	
	&__title {
		margin-bottom: 60px;
	}
}

.news-img {
	float: left;
	margin-right: 50px;
	margin-bottom: 30px;
	
}