.brand {
    .cf;
    
    &__item {
        display: block;
        float: left;
        width: 140px;
        height: 140px;
        position: relative;
        text-align: center;
        margin: 20px 20px 20px 0px;
		
		&:nth-child(6n) {
			margin-right: 0;
		}
        
        &:hover {
            text-decoration: underline;
        }
        
       
    }
    
    &__inner {
        width: 140px;
        height: 70px;        
        position: relative;
    }
    
    &__link {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        
        
    }
    
    &__img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    
    &__name {
        font-family: @font-notosans-reg;
        font-size: 14px;
        color: @color-gray;
        display: block;
        padding-top: 20px;
    }
}