<div class="footer-wrap">
    <div class="container">
        <div class="footer">
            <div class="footer__left">
                <span class="copyright">&copy; 2016 Getpar.ru</span>
            </div>
            <div class="footer__right">
                
                <ul class="footer-link">
                    <li class="footer-link__item"><a href="#" class="footer-link__link">Оплата заказа</a></li>
                    <li class="footer-link__item"><a href="#" class="footer-link__link">Доставка товара</a></li>
                    <li class="footer-link__item"><a href="#" class="footer-link__link">Контакты</a></li>
                    <li class="footer-link__item"><a href="#" class="footer-link__link">Гарантия и возврат</a></li>
                    
                </ul>
                
                <ul class="footer-link footer-link_margin">
                    <li class="footer-link__item"><a href="#" class="footer-link__link">Соглашение</a></li>
                    <li class="footer-link__item"><a href="#" class="footer-link__link">Упаковка</a></li>
                    <li class="footer-link__item"><a href="#" class="footer-link__link">Осторожно, мошенники</a></li>
                    <li class="footer-link__item"><a href="#" class="footer-link__link">Личный кабинет</a></li>

                </ul>
                
            </div>
        </div>
    </div>
    
</div>