<div class="form-call-wrap">

    <div class="container"> 
        <h2 class="head-h2"><span>Свяжитесь с нами</span></h2>
    
        <div class="form-call">
            <form>
             
                <div class="form-call__left">
                    <legend class="form-call__name">Введите ваше сообщение:</legend>
                    <textarea class="form-call__text" placeholder="Добрый день"></textarea>
                    <input class="form-call__btn-submit" type="submit" value="Отправить">
                </div>  
                <div class="form-call__right">
                    <div class="form-call__inner">
                        <legend class="form-call__name">Ваше имя:</legend>
                        <input name="name" class="form-call__input" type="text" placeholder="Имя">
                    </div>
                    <div class="form-call__inner">
                        <legend class="form-call__name">Номер телефона:</legend>
                        <input name="tel" class="form-call__input" type="tel" placeholder="+7 (383) 310-10-70">
                    </div>
                    <div class="form-call__inner">
                        <legend class="form-call__name">Электронная почта:</legend>
                        <input name="mail" class="form-call__input" type="email" placeholder="address@mail.com">
                    </div>
                </div>  
                
            </form>
        </div>
    </div>
</div>