<div class="header-wrap">
   
    <div class="container">     
       <!-- <div class="header">
           <div class="logo">
               <a href="/" class="logo__link">
                   <img src="/images/logo.png" alt="" class="logo__img">
               </a>
           </div>
            <div class="header__inner">
               
                <div class="header__inner__top">
                   
                   <div class="drop city">
                       <span class="drop__name">Новосибирск</span>
					   <img class="drop__arrow" src="/images/icons/header/arrow_down.svg" alt="">
                       <ul class="drop-hidden">
                           <li class="drop-hidden__item nsk">Новосибирск</li>
                           <li class="drop-hidden__item brn">Барнаул</li>
                        </ul>
                    </div>
                    
                    <div class="tel">
                        <img src="/images/icons/header/phone_icon.svg" alt="" class="tel__img">
                        <span class="tel__number tel__number_one">+7 (383) 310-10-70</span>
                        <img src="/images/icons/header/whatsapp.svg" alt="" class="tel__img tel__img_size">
                        <span class="tel__number tel__number_two">+7 (983) 000-20-70</span>
                    </div>
                    
                </div>
                <div class="header__inner__bottom">
                    <div class="drop searh-number">
                        <span class="drop__name">Поиск з/ч по ОЕМ номеру</span>
                        <img class="drop__arrow" src="/images/icons/header/arrow_down.svg" alt="">
                        <ul class="drop-hidden">
                            <li class="drop-hidden__item">Поиск з/ч по ОЕМ номеру</li>
                            <li class="drop-hidden__item">Поиск з/ч по названию</li>
                        </ul>
                    </div>
                    
                    <div class="search-line">
                        <img src="/images/icons/header/search_icon.svg" alt="" class="search-line__img">
                        <input type="text" class="search-line__input" placeholder="Введите номер запчасти">
                    </div>
                    
                </div>
               
                
            </div>
            <div class="header__inner header__inner_right">
                <div class="login">
                   <img src="/images/icons/header/login_icon.svg" alt="" class="login__icon">
                   
                   <div class="login-hiddin">
                       <div class="login-hiddin__inner">
                           <div class="login-hiddin__img">
                               <img src="/images/icons/header/login_icon.svg" alt="" class="login-hiddin__icon">
                           </div>
						   <div class="login-hiddin__aut">
							   <a href="#" class="login-hiddin__link login-hiddin__link_login">Личный кабинет</a>
						   </div>
                       </div>
                       <span class="login-hiddin__text">Впервые на сайте?</span>
                       <a href="#" class="login-hiddin__link">Зарегистрируйтесь</a>
                       
                   </div>
                   
					<div class="login-hiddin authorization">
						<div class="login-hiddin__inner">
							<div class="login-hiddin__img">
								<img src="/images/icons/header/login_icon.svg" alt="" class="login-hiddin__icon">
							</div>
							<div class="login-hiddin__aut">
								<span class="login-hiddin__name">Иван</span>
								<a href="#" class="login-hiddin__link login-hiddin__link_exit">Выход</a>
							</div>
							
						</div>
						<a href="#" class="login-hiddin__link"><img class="login-hiddin__ico login-hiddin__ico_hist" src="/images/icons/aytorization/history.svg" alt="">Мои заказы</a>
						<a href="#" class="login-hiddin__link"><img class="login-hiddin__ico login-hiddin__ico_cart" src="/images/icons/aytorization/cart.svg" alt="">Корзина</a>
						<a href="#" class="login-hiddin__link"><img class="login-hiddin__ico login-hiddin__ico_car" src="/images/icons/aytorization/car.svg" alt="">Мои автомобили</a>
						<a href="#" class="login-hiddin__link"><img class="login-hiddin__ico login-hiddin__ico_sett" src="/images/icons/aytorization/settings.svg" alt="">Настройки</a>

					</div>
                   
               </div>
               
               
               
                <div class="cart">
                    <a href="#" class="cart__link"></a>
                    <img src="/images/icons/header/cart_icon.svg" alt="" class="cart__icon">
                    <div class="cart__inner">
                        <span class="cart__text">в корзине:</span>
                        <span class="cart__num">1000<span> шт.</span></span>
                    </div>
                </div>
            </div>
        </div> -->
        
		<div class="header">
			<div class="logo">
				<a href="/" class="logo__link">
					<img src="/images/logo.png" alt="" class="logo__img">
				</a>
			</div>
			<div class="header__inner">

				<div class="header__inner__top">

					<div class="drop city">
						<span class="drop__name">Новосибирск</span>
						<img class="drop__arrow" src="/images/icons/header/arrow_down.svg" alt="">
						<ul class="drop-hidden" onchange="location.href=this.value">
							Новосибирск    
						</ul>
					</div>

					<div class="tel">
						<img src="/images/icons/header/phone_icon.svg" alt="" class="tel__img">
						<span class="tel__number tel__number_one">+7 (383) 310-10-70</span>
						<img src="/images/icons/header/whatsapp.svg" alt="" class="tel__img tel__img_size">
						<span class="tel__number tel__number_two">+7 (983) 000-20-70</span>
					</div>
				</div>

				<div class="header__inner__bottom">
					<div class="drop searh-number">
						<span class="drop__name n_d">Поиск з/ч по названию</span>
						<img class="drop__arrow" src="/images/icons/header/arrow_down.svg" alt="">
						<ul class="drop-hidden" style="display: none;">
							<li class="drop-hidden__item oem">Поиск з/ч по ОЕМ номеру</li>
							<li class="drop-hidden__item p_name">Поиск з/ч по названию</li>
						</ul>
					</div>

					<div class="search-line">
						<form action="/new/c_p_l/" method="get">
							<span>Поиск по внутреннему номеру з\ч:</span>
							<input type="hidden" name="get" class="h_serch" value="serch">
							<input class="search-line__sbm" type="submit" value="Поиск" name="go_search">
							<img src="/images/icons/header/search_icon.svg" alt="" class="search-line__img">
							<input type="text" class="search-line__input s_i" placeholder="Введите название запчасти" name="query" value="">
						</form>
					</div>

				</div>


			</div>
			<div class="header__inner header__inner_right">
				<div class="login">
					<img src="/images/icons/header/login_icon.svg" alt="" class="login__icon">

					<div class="login-hiddin">
						<div class="login-hiddin__inner">
							<div class="login-hiddin__img">
								<img src="/images/icons/header/login_icon.svg" alt="" class="login-hiddin__icon">
							</div>
							<div class="login-hiddin__aut">
								<a href="#" class="login-hiddin__link login-hiddin__link_login">Личный кабинет</a>
							</div>
						</div>
						<span class="login-hiddin__text">Впервые на сайте?</span>
						<a href="#" class="login-hiddin__link">Зарегистрируйтесь</a>

					</div>

					<div class="login-hiddin authorization">
						<div class="login-hiddin__inner">
							<div class="login-hiddin__img">
								<img src="/images/icons/header/login_icon.svg" alt="" class="login-hiddin__icon">
							</div>
							<div class="login-hiddin__aut">
								<span class="login-hiddin__name">Иван</span>
								<a href="#" class="login-hiddin__link login-hiddin__link_exit">Выход</a>
							</div>

						</div>
						<a href="#" class="login-hiddin__link"><img class="login-hiddin__ico login-hiddin__ico_hist" src="/images/icons/aytorization/history.svg" alt="">Мои заказы</a>
						<a href="#" class="login-hiddin__link"><img class="login-hiddin__ico login-hiddin__ico_cart" src="/images/icons/aytorization/cart.svg" alt="">Корзина</a>
						<a href="#" class="login-hiddin__link"><img class="login-hiddin__ico login-hiddin__ico_car" src="/images/icons/aytorization/car.svg" alt="">Мои автомобили</a>
						<a href="#" class="login-hiddin__link"><img class="login-hiddin__ico login-hiddin__ico_sett" src="/images/icons/aytorization/settings.svg" alt="">Настройки</a>

					</div>

				</div>
				<div class="cart">

					<a href="/personal/cart/" class="cart__link"></a>
					<img src="/images/icons/header/cart_icon.svg" alt="" class="cart__icon">
					<div class="cart__inner">
						<span class="cart__text">В корзине:</span>
						<span class="cart__num">0<span> шт.</span></span>
					</div>
              </div>

			</div>
		</div>
        
        
        
    </div>
    
    <div class="nav">
        <div class="container">
            <ul class="menu">
				<li class="menu__item"><a href="#" class="menu__link"><span class="menu__text">Оплата заказа</span></a></li>
				<li class="menu__item"><a href="#" class="menu__link"><span class="menu__text">Доставка товара</span></a></li>
				<li class="menu__item"><a href="#" class="menu__link"><span class="menu__text">Гарантия и возврат</span></a></li>
				<li class="menu__item"><a href="#" class="menu__link"><span class="menu__text">Соглашение</span></a></li>
				<li class="menu__item"><a href="#" class="menu__link"><span class="menu__text">Упаковка</span></a></li>
				<li class="menu__item"><a href="#" class="menu__link"><span class="menu__text">Контакты</span></a></li>
            </ul>
        </div>
    </div>
    
</div>