<div class="header-wrap">
   
    <div class="container">     
        <div class="header">
           <div class="logo">
               <a href="/" class="logo__link">
                   <img src="/images/logo.png" alt="" class="logo__img">
               </a>
           </div>
        </div>
    </div>
    
    <div class="nav">
        <div class="container">
            <ul class="menu">
                <li class="menu__item"><a href="#" class="menu__link">Оплата заказа</a></li>
                <li class="menu__item"><a href="#" class="menu__link">Доставка товара</a></li>
                <li class="menu__item"><a href="#" class="menu__link">Контакты</a></li>
                <li class="menu__item"><a href="#" class="menu__link">Гарантия и возврат</a></li>
                <li class="menu__item"><a href="#" class="menu__link">Соглашение</a></li>
                <li class="menu__item"><a href="#" class="menu__link">Упаковка</a></li>
            </ul>
        </div>
    </div>
    
</div>