<div class="info-product-wrap">

    <div class="info-product">
        <div class="container">
            <div class="info-product__left">
                
                <div class="product-info">
                    <div class="info-product__head">Информация о товаре:</div>
                    <ul class="info-product-list">
                        <li class="info-product-list__item">Масса (г): <span>150</span></li>
                        <li class="info-product-list__item">Габариты (см): <span>30х15х30</span></li>
                        <li class="info-product-list__item">Материал: <span>пластмасса</span></li>
                        <li class="info-product-list__item">В наличии: <span>да</span></li>
                    </ul>
                </div>
                <div class="product-delivery">
                    <div class="info-product__head">Доставка:</div>
                    <ul class="info-product-list">
                        <li class="info-product-list__item">От 7 дней</li>
                        <li class="info-product-list__item">со дня оформления заказа</li>
                    </ul>
                </div>
                
            </div>

            <div class="info-product__right">
                
                <div class="info-product__head">Оплата:</div>
                
                <ul class="info-product-list">
                    
                    <li class="info-product-list__item">Вы можете оплатить покупку одним из способов:</li>
                    <li class="info-product-list__item info-product-list__item_icon">наличными с получением кассового чека;</li>
                    <li class="info-product-list__item info-product-list__item_icon">через систему PayKeeper, кредитной или дебетовой банковской картой Visa, Mastercard.</li>
                    
                </ul>
                
            </div>
        </div>
    </div>

</div>