<div class="like-parts-wrap">
    
    <div class="container"> 
        <h2 class="head-h2"><span>Похожие товары</span></h2>
    </div>
    <div class="container"> 
    <ul class="popular-parts offset offset_min">
        <li class="popular-parts__item">
            <a href="#" class="popular-parts__link"></a>
            <div class="popular-parts__box-img">
                <img src="/images/parts/parts-2.png" alt="" class="popular-parts__img">
            </div> 
            <span class="popular-parts__name">Амортизатор задний GP-30090834</span>
            <span class="popular-parts__price">2 500 руб.</span>
            <a href="add" class="popular-parts__add-cart">Добавить в корзину</a>
        </li>
        <li class="popular-parts__item">
            <a href="#" class="popular-parts__link"></a>
            <div class="popular-parts__box-img">
                <img src="/images/parts/parts-2.png" alt="" class="popular-parts__img">
            </div>                        
            <span class="popular-parts__name">Амортизатор задний GP-30090834</span>
            <span class="popular-parts__price">2 500 руб.</span>
            <a href="add" class="popular-parts__add-cart">Добавить в корзину</a>
        </li>
        <li class="popular-parts__item">
            <a href="#" class="popular-parts__link"></a>
            <div class="popular-parts__box-img">
                <img src="/images/parts/parts-2.png" alt="" class="popular-parts__img">
            </div> 
            <span class="popular-parts__name">Амортизатор задний GP-30090834</span>
            <span class="popular-parts__price">2 500 руб.</span>
            <a href="add" class="popular-parts__add-cart">Добавить в корзину</a>
        </li>
        <li class="popular-parts__item">
            <a href="#" class="popular-parts__link"></a>
            <div class="popular-parts__box-img">
                <img src="/images/parts/parts-2.png" alt="" class="popular-parts__img">
            </div> 
            <span class="popular-parts__name">Амортизатор задний GP-30090834</span>
            <span class="popular-parts__price">2 500 руб.</span>
            <a href="add" class="popular-parts__add-cart">Добавить в корзину</a>
        </li>
        <li class="popular-parts__item">
            <a href="#" class="popular-parts__link"></a>
            <div class="popular-parts__box-img">
                <img src="/images/parts/parts-2.png" alt="" class="popular-parts__img">
            </div> 
            <span class="popular-parts__name">Амортизатор задний GP-30090834 Амортизатор задний GP-30090834</span>
            <span class="popular-parts__price">2 500 руб.</span>
            <a href="add" class="popular-parts__add-cart">Добавить в корзину</a>
        </li>
        </ul></div>
    
</div>