<div id="zajavka-popup">

    <div class="zajavka-popup-wrap">

        <h2 class="head-red">Оставте заявку и мы подберем предложения по лучшей цене!</h2>

        <div class="popup">
            <form action="">

                <input type="text" name="number" class="popup__inp popup__inp_num" placeholder="Номер телефона">
                <input type="text" name="mark" class="popup__inp popup__inp_mark" placeholder="Марка машины">
                <input type="text" name="model" class="popup__inp popup__inp_model" placeholder="Модель">
                <input type="text" name="year" class="popup__inp popup__inp_year" placeholder="Год">
                <input type="text" name="part" class="popup__inp popup__inp_part" placeholder="Наименование запчасти">

                <div class="popup__btn-wrap">
                    <input type="submit" value="Отправить" class="popup__btn popup__btn_submit">
                    <input type="button" value="Закрыть" class="modaal-close popup__btn popup__btn_close ">
                </div>


            </form>
        </div>
        <svg class="popup__close modaal-close" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 20 20" style="enable-background:new 0 0 20 20;" xml:space="preserve">
            <style type="text/css">
                .st0{fill:#D81218;}
            </style>
            <path id="XMLID_2_" class="st0 " d="M20,2l-2-2l-8,8L2,0L0,2l8,8l-8,8l2,2l8-8l8,8l2-2l-8-8L20,2z"/>
        </svg>
<!--        <img  src="/images/icons/close_red_icon.svg" alt="" class="popup__close modaal-close">-->

    </div> 





</div>