<div class="news-line-wrap">

    <div class="container"> 
        <h2 class="head-h2"><span>Новости</span></h2>
    </div>

    <div class="container">
        <ul class="news-line">
            <li class="news-line__item">
                <a href="" class="news-line__link">
                    <img src="/images/news.png" alt="" class="news-line__img">
                    <span class="news-line__name">Новое поступление товара на склад</span>
                </a>
            </li>
            <li class="news-line__item">
                <a href="" class="news-line__link">
                    <img src="/images/news.png" alt="" class="news-line__img">
                    <span class="news-line__name">Новое поступление товара на склад</span>
                </a>
            </li>
            <li class="news-line__item">
                <a href="" class="news-line__link">
                    <img src="/images/news.png" alt="" class="news-line__img">
                    <span class="news-line__name">Новое поступление товара на склад</span>
                </a>
            </li>
            <li class="news-line__item">
                <a href="" class="news-line__link">
                    <img src="/images/news.png" alt="" class="news-line__img">
                    <span class="news-line__name">Новое поступление товара на склад</span>
                </a>
            </li>
        </ul>
    </div>
</div>