<div class="popular-parts-wrap">

    <div class="container"> 
        <h2 class="head-h2"><span>Популярные запчасти</span></h2>
        
        <div class="popular-parts-tabs">

            <ul class="popular-parts-tabs__caption">
                <li class="popular-parts-tabs__item active">Двигатель</li>
                <li class="popular-parts-tabs__item">Кузов</li>
                <li class="popular-parts-tabs__item">Фары</li>
                <li class="popular-parts-tabs__item">Салон</li>
            </ul>

            <div class="popular-parts-tabs__content active">
                <ul class="popular-parts">
                    <li class="popular-parts__item">
                        <a href="#" class="popular-parts__link"></a>
                        <div class="popular-parts__box-img">
                            <img src="/images/parts/parts-2.png" alt="" class="popular-parts__img">
                        </div> 
                        <span class="popular-parts__name">Амортизатор задний GP-30090834</span>
                        <span class="popular-parts__price">2 500 руб.</span>
                        <a href="add" class="popular-parts__add-cart">Добавить в корзину</a>
                    </li>
                    <li class="popular-parts__item">
                        <a href="#" class="popular-parts__link"></a>
                        <div class="popular-parts__box-img">
                            <img src="/images/parts/parts-2.png" alt="" class="popular-parts__img">
                        </div>                        
                        <span class="popular-parts__name">Амортизатор задний GP-30090834</span>
                        <span class="popular-parts__price">2 500 руб.</span>
                        <a href="add" class="popular-parts__add-cart">Добавить в корзину</a>
                    </li>
                    <li class="popular-parts__item">
                        <a href="#" class="popular-parts__link"></a>
                        <div class="popular-parts__box-img">
                            <img src="/images/parts/parts-2.png" alt="" class="popular-parts__img">
                        </div> 
                        <span class="popular-parts__name">Амортизатор задний GP-30090834</span>
                        <span class="popular-parts__price">2 500 руб.</span>
                        <a href="add" class="popular-parts__add-cart">Добавить в корзину</a>
                    </li>
                    <li class="popular-parts__item">
                        <a href="#" class="popular-parts__link"></a>
                        <div class="popular-parts__box-img">
                            <img src="/images/parts/parts-2.png" alt="" class="popular-parts__img">
                        </div> 
                        <span class="popular-parts__name">Амортизатор задний GP-30090834</span>
                        <span class="popular-parts__price">2 500 руб.</span>
                        <a href="add" class="popular-parts__add-cart">Добавить в корзину</a>
                    </li>
                    <li class="popular-parts__item">
                        <a href="#" class="popular-parts__link"></a>
                        <div class="popular-parts__box-img">
                            <img src="/images/parts/parts-2.png" alt="" class="popular-parts__img">
                        </div> 
                        <span class="popular-parts__name">Амортизатор задний GP-30090834 Амортизатор задний GP-30090834</span>
                        <span class="popular-parts__price">2 500 руб.</span>
                        <a href="add" class="popular-parts__add-cart">Добавить в корзину</a>
                    </li>
                    <li class="popular-parts__item">
                        <a href="#" class="popular-parts__link"></a>
                        <div class="popular-parts__box-img">
                            <img src="/images/parts/parts-1.png" alt="" class="popular-parts__img">
                        </div> 
                        <span class="popular-parts__name">Амортизатор задний GP-30090834</span>
                        <span class="popular-parts__price">2 500 руб.</span>
                        <a href="add" class="popular-parts__add-cart">Добавить в корзину</a>
                    </li>
                    <li class="popular-parts__item">
                        <a href="#" class="popular-parts__link"></a>
                        <div class="popular-parts__box-img">
                            <img src="/images/parts/parts-2.png" alt="" class="popular-parts__img">
                        </div> 
                        <span class="popular-parts__name">Амортизатор задний GP-30090834</span>
                        <span class="popular-parts__price">2 500 руб.</span>
                        <a href="add" class="popular-parts__add-cart">Добавить в корзину</a>
                    </li>
                    <li class="popular-parts__item">
                        <a href="#" class="popular-parts__link"></a>
                        <div class="popular-parts__box-img">
                            <img src="/images/parts/parts-1.png" alt="" class="popular-parts__img">
                        </div> 
                        <span class="popular-parts__name">Амортизатор задний GP-30090834</span>
                        <span class="popular-parts__price">2 500 руб.</span>
                        <a href="add" class="popular-parts__add-cart">Добавить в корзину</a>
                    </li>
                    <li class="popular-parts__item">
                        <a href="#" class="popular-parts__link"></a>
                        <div class="popular-parts__box-img">
                            <img src="/images/parts/parts-1.png" alt="" class="popular-parts__img">
                        </div> 
                        <span class="popular-parts__name">Амортизатор задний GP-30090834</span>
                        <span class="popular-parts__price">2 500 руб.</span>
                        <a href="add" class="popular-parts__add-cart">Добавить в корзину</a>
                    </li>
                    <li class="popular-parts__item">
                        <a href="#" class="popular-parts__link"></a>
                        <div class="popular-parts__box-img">
                            <img src="/images/parts/parts-2.png" alt="" class="popular-parts__img">
                        </div> 
                        <span class="popular-parts__name">Амортизатор задний GP-30090834</span>
                        <span class="popular-parts__price">2 500 руб.</span>
                        <a href="add" class="popular-parts__add-cart">Добавить в корзину</a>
                    </li>
                </ul>
            </div>

            <div class="popular-parts-tabs__content">
                Содержимое 2 блока
            </div>
            
            <div class="popular-parts-tabs__content">
                Содержимое 3 блока
            </div>
            
            <div class="popular-parts-tabs__content">
                Содержимое 4 блока
            </div>

        </div>
        
    </div>
</div>