<div class="product-card-wrap">
   
    <div class="container">
        <h2 class="head-h2"><span>GP-20147868</span></h2>
    </div>
    
    <div class="product">
        <div class="container">
            <div class="product__left">
                
                <div class="product-foto">
                    
                    <ul class="product-foto-list">
                        <li class="product-foto-list__item product-foto-list__item_big js-popup-img">
                            <a href="#1" class="product-foto__link">
                                <img src="/images/parts/pic-1.jpg" alt="" class="product-foto__img">
                            </a>
                        </li>
                        <li class="product-foto-list__item">
                            <a href="#2" class="product-foto__link">
                                <img src="/images/parts/pic-2.jpg" alt="" class="product-foto__img">
                            </a>
                        </li>
                        <li class="product-foto-list__item">
                            <a href="#3" class="product-foto__link">
                                <img src="/images/parts/pic-3.jpg" alt="" class="product-foto__img">
                            </a>
                        </li>
                        <li class="product-foto-list__item">
                            <a href="#4" class="product-foto__link">
                                <img src="/images/parts/pic-4.jpg" alt="" class="product-foto__img">
                            </a>
                        </li>
                        <li class="product-foto-list__item">
                            <a href="#4" class="product-foto__link">
                                <img src="/images/parts/pic-1.jpg" alt="" class="product-foto__img">
                            </a>
                        </li>
                    </ul>
                    
                </div>
                
            </div>
            
            <div class="product__right">
                
                <h1 class="product__name">Противотуманная фара GP-2147868 (Левая)</h1>
                <div class="product__model">Toyota RAV 4 2013</div>
                <div class="product__price">2 500 руб.</div>
                <div class="product-btns">
                    <a href="#" class="product-btn product-btn_add-cart">Добавить в корзину</a>
                    <a href="#" class="product-btn product-btn_buy">Купить сейчас</a>
                </div>
                <div class="product__info">*после 2015 года без кронштейна</div>
            </div>
        </div>
    </div>
    
</div>