<div class="search-parts-wrap">
    
    <div class="container"> 
        <div class="row">            
            <div class="search-parts-box">
                <div class="search-parts-box__left">
                    <h2 class="head-h2"><span>Европейские контрактные автозапчасти</span></h2>
                    <ul class="search-parts-links">
                        <li class="search-parts-links__item"><a href="#" class="search-parts-links__link active">Легковые автомобили</a></li>
                        <li class="search-parts-links__item"><a href="#" class="search-parts-links__link">Грузовые автомобили</a></li>
                        <li class="search-parts-links__item"><a href="#" class="search-parts-links__link search-parts-links__link_min"><img src="/images/icons/ico-search-parts.svg" alt="" class="search-parts-links__icon">Все марки</a></li>
                    </ul>
                    
                    <ul class="car-brand">
                        <li class="car-brand__item car-brand_bmw"><a href="#" class="car-brand__link"><span class="car-brand__name">BMW</span></a></li>
                        <li class="car-brand__item car-brand_toyota"><a href="#" class="car-brand__link"><span class="car-brand__name">Toyota</span></a></li>
                        <li class="car-brand__item car-brand_audi"><a href="#" class="car-brand__link"><span class="car-brand__name">Audi</span></a></li>
                        <li class="car-brand__item car-brand_ford"><a href="#" class="car-brand__link"><span class="car-brand__name">Ford</span></a></li>
                        <li class="car-brand__item car-brand_subaru"><a href="#" class="car-brand__link"><span class="car-brand__name">Subaru</span></a></li>
                        <li class="car-brand__item car-brand_mitsubishi"><a href="#" class="car-brand__link"><span class="car-brand__name">Mitsubishi</span></a></li>
                        <li class="car-brand__item car-brand_honda"><a href="#" class="car-brand__link"><span class="car-brand__name">Honda</span></a></li>
                        <li class="car-brand__item car-brand_cadillac"><a href="#" class="car-brand__link"><span class="car-brand__name">Cadillac</span></a></li>
                        <li class="car-brand__item car-brand_nissan"><a href="#" class="car-brand__link"><span class="car-brand__name">Nissan</span></a></li>
                    </ul>
                    
                </div>
                <div class="search-parts-box__right">
                    <div class="zajavka">
                        <span class="zajavka__text">Мы подберем подходящие запчасти за вас:</span>
                        <a href="#zajavka-popup" class="zajavka-btn js-zajavka-btn">
                            <img src="/images/icons/ico-zajavka-btn.svg" alt="" class="zajavka-btn__icon"><span class="zajavka-btn__name">Быстрая завяка</span>
                        </a>
                    </div>
                    <div class="statistics">
                        <span class="statistics__num">1 523 251</span>
                        <span class="statistics__text">Запчастей на сайте</span>
                        <span class="statistics__num">55 432</span>
                        <span class="statistics__text">Заказов в день</span>
                    </div>
                    <div class="banner">                        
                       <img src="/images/banner.png" alt="" class="banner__img"> 
                    </div>
                </div>
            </div>
            
            
        </div>
    
    </div>
    
    
    
    
</div>