<div class="services-wrap">

    <div class="container"> 
        <h2 class="head-h2"><span>Сервисные услуги</span></h2>
    </div>
    
    <div class="container">        
        <ul class="services">
            
            <li class="services__item">
                <a href="#" class="services__link">
                    <img src="/images/icons/services/autoservices.svg" alt="" class="services__img services__img_car">
                    <span class="services__name">Автосервис</span>
                </a>
            </li>            
            <li class="services__item">
                <a href="#" class="services__link">
                    <img src="/images/icons/services/wheel.svg" alt="" class="services__img services__img_wheel">
                    <span class="services__name">Шиномонтаж</span>
                </a>
            </li>            
            <li class="services__item">
                <a href="#" class="services__link">
                    <img src="/images/icons/services/diagnostics.svg" alt="" class="services__img services__img_diagn">
                    <span class="services__name">Диагностика</span>
                </a>
            </li>
            <li class="services__item">
                <a href="#" class="services__link">
                    <img src="/images/icons/services/wash.svg" alt="" class="services__img services__img_wash">
                    <span class="services__name">Автомойка</span>
                </a>
            </li>
            
        </ul>       
    </div>
</div>